# Игнорировать директории node_modules
**/node_modules/

# Игнорировать файлы блокировки пакетов
package-lock.json
yarn.lock

# Игнорировать личные файлы настроек IDE (например, .vscode, .idea)
# Здесь вы можете добавить свои личные директории и файлы, которые не должны отслеживаться
*.code-workspace
.vscode/

# Игнорировать другие файлы и директории, которые не должны отслеживаться
# Например, логи, кэш, временные файлы и т.д.
*.log
*.tmp
*.temp
